<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/Shen.jpg" alt="Shen" class="img-thumbnail rounded" width="300px" height="300px">
      <h1 class="display-4">Yusril Arzaqi</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet rem nesciunt ex magni. Vel vitae, harum eos ab, necessitatibus id ratione laborum quis odit, atque ducimus nulla suscipit incidunt maiores.</p>
    </div>
  </div>
</div>
